@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-1: #000000;
  --brand-2: #ffffff;
  --img-hue-rotate: 0deg;
}

@keyframes scaleOut {
  0% {
    transform-origin: 50% 50%;
    transform: scale(0, 0);
  }
  100% {
    transform-origin: 50% 50%;
    transform: scale(1, 1);
  }
}
